//CORE SASS
#navbar{
  background-color: #3B3322;
  height: 90px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

#logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFF;
  height: 100%;
  width: 305px;
  font-size: 3em;
}

.backgroundPic{
  background-image: url("imgs/backgroundimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
}

.backgroundGradient{

  height: 130vh;
  width: 100vw;
}

.button{
  background-color: #FFF;
  height: 45px;
  width: 180px;
  margin: 0 24px 0 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3B3322;
  font-size: 1.5em;
}

.bodyText{
  background-color: #FFF;
  margin-top: -30px;
  height: 100%;
  width: 200px;
  top: 0;
}

body{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom,#3B3322 ,#3D4C30 );
}
